
body {
    color: #555;
    /* color: rgb(50, 50, 50); */
}

div.margin-top {
    padding-top: 2rem;
}

h1 {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.8px;
    font-size: 3rem;
    line-height: 1.083333333em;
}

#local-day-and-time {
    font-size: 1.25rem;
    line-height: 1.4em;
}

#card-container {
    min-height: 50vh;
    padding-bottom: 4rem;
}

.card {
    /* width: 335px;
    height: 392px; */
    width: 314px;
    height: 374px;
    border-radius: 16px;
    -webkit-box-shadow: 0 16px 40px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0 16px 40px 2px rgba(0, 0, 0, 0.16);
    /* background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: none;
    margin: 26px;
    display: inline-block;
    cursor: pointer;
    color: rgb(55, 55, 55);
}

.card.loading {
    -webkit-box-shadow: initial;
    box-shadow: initial;
    background: white;
    cursor: initial;
    border: 1px solid #cacaca;
}

.card-back {
    background: rgb(54, 59, 89);
}

.card-body {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
}

.card-back > .card-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .heading {
    margin-left: 16px;
} */

.card-message {
    color: rgb(131, 137, 164);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}

.btn-option {
    background-color: rgb(131, 137, 164);
    color: rgb(54, 59, 89);
    padding: .45rem 1.4rem;
    font-size: 1.1rem;
}

.btn-remove {
    background-color: rgb(235, 95, 107);
    color: white;
}

.loading-img-box {
    text-align: center;
}

.loading-img-box > img {
    width: 80%;
    opacity: .8;
    margin-top: 3rem;
}

#city-form {
    width: 58%;
    margin: 0 auto;
}

/*
 * Styles for weather data in card body
 */

.city {
    margin-bottom: .7rem;
    font-weight: 600;
}

.current-temp {
    font-size: 5rem;
    line-height: 1em;
}

.temp-bounds {
    font-weight: 600;
}

.icon {
    width: 100px;
}

.desc {
    text-transform: capitalize;
}

.data-row {
    margin-top: 1rem;
}

.data-left, .data-right {
    display: inline-block;
}

.data-left {
    width: 55%;
}

.mar-neg .data-right {
    /* width: 36%; */
}

.label {
    text-transform: uppercase;
    font-size: .9rem;
    color: rgba(55, 55, 55, 0.55);
    margin-bottom: 0;
}

.label-data {
    font-size: 1.3rem;
}

.mar-neg {
    /* margin-top: -0.6rem */
}

.mar-mor {
    /* margin-top: 3rem; */
}

.t1 {
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t1 .data-left {
    /* padding-top: 20px;
    width: 64%; */
}

.t1 .data-left, .t1 .data-right {
    /* height: 100%; */
}

.d1 {
    position: absolute;
    width: 100%;
    bottom: 85px;
}
.d2 {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

/* * * * * * * * */


.btn:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: initial;
}

.mb-3 {
    margin-bottom: 1.8rem!important;
    margin-top: 1.6rem!important;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: initial;
}


@media (max-width: 1199px) {
    #card-container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .card {
        margin: 34px;
    }
}

@media (max-width: 991px) {
    .col {
        padding-left: initial;
        padding-right: initial;
    }

    #card-container {
        padding-left: initial;
        padding-right: initial;
    }

    .card {
        margin: 21px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }

    #local-day-and-time {
        font-size: 1.16rem;
        line-height: 1.5em;
    }

    #card-container {
        position: relative;
    }

    .heading {
        text-align: center;
    }

    .card {
        margin: 1.3rem auto;
        display: block;
    }
    .shape {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@media (max-width: 575px) {
    #city-form {
        max-width: 314px;
        width: 100%;
    }
}
