
body {
    color: #555;
    color: rgb(68,75,90);
    /* background-color: rgb(154, 184, 194); */
}

div.margin-top {
    padding-top: 2rem;
}

h1 {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.8px;
    font-size: 3rem;
    line-height: 1.083333333em;
}

#local-day-and-time {
    font-size: 1.25rem;
    line-height: 1.4em;
}

#card-container {
    min-height: 50vh;
}

.card {
    width: 314px;
    height: 374px;
    border-radius: 16px;
    -webkit-box-shadow: 0 16px 40px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0 16px 40px 2px rgba(0, 0, 0, 0.16);
    background: #f6fafd;
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    border: none;
    margin: 26px;
    display: inline-block;
    cursor: pointer;
    /* color: rgb(55, 55, 55); */
    color: #040707;
}

.ui.shape {
    -webkit-transition: transform .3s ease,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out,-webkit-transform .3s ease !important;
    transition: transform .3s ease,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out,-webkit-transform .3s ease !important;
}

.ui.shape:active {
    transform: scale(.96,.96);
}

.card.loading {
    -webkit-box-shadow: initial;
    box-shadow: initial;
    background: transparent;
    cursor: initial;
    /* border: 1px solid #cacaca;
    border-color: white; */
}

.loading {
    vertical-align: top;
}

.card-back {
    background: rgb(68,75,90);
}

.card-body {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
}

.card-back > .card-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    /* color: white; */
    margin-bottom: 1.8rem;
}

.card-message {
    color: #e5e5e5;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}

.btn-option {
    background-color: rgb(131, 137, 164);
    color: rgb(54, 59, 89);
    padding: .45rem 1.4rem;
    font-size: 1.1rem;
}

.btn-remove {
    background-color: rgb(235, 95, 107);
    color: white;
}

.loading-img-box {
    text-align: center;
}

.loading-img-box > img {
    width: 66%;
    margin-top: 5rem;
}

#city-form {
    width: 58%;
    margin: 0 auto;
}

#error-box {
    padding: .5rem .8rem;
    color: #fff;
    background: #495057;
    background: rgb(235, 95, 107);
    text-align: center;
    display: none;
}

#error-box > p {
    margin-bottom: 0;
}

.outside {
    display: inline-block;
}

/*
 * Styles for weather data in card body
 */

.city {
    margin-bottom: .7rem;
    font-weight: 600;
}

.current-temp {
    font-size: 5rem;
    line-height: 1em;
}

.temp-bounds {
    font-weight: 600;
}

.icon {
    width: 100px;
}

.desc {
    text-transform: capitalize;
}

.data-row {
    margin-top: 1rem;
}

.data-left, .data-right {
    display: inline-block;
}

.data-left {
    width: 55%;
}

.label {
    text-transform: uppercase;
    font-size: .9rem;
    color: rgba(55, 55, 55, 0.55);
    margin-bottom: 0;
}

.label-data {
    font-size: 1.3rem;
}

.t1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d1 {
    position: absolute;
    width: 100%;
    bottom: 85px;
}
.d2 {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

/* * * * * * * * */


.btn:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: initial;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle, .btn-outline-secondary:hover {
    background-color: rgb(68,75,90);
}

.mb-3 {
    margin-bottom: 0 !important;
    margin-top: 1.6rem!important;
}

.form-control {
    border-color: #6c757d;
}

.form-control:focus {
    /* border-color: #6c757d; */
    box-shadow: initial;
    background-color: rgb(240, 240, 240);
}

.btn-outline-secondary {
    background-color: white;
}

form input.form-control, form input.btn-outline-secondary {
    background-color: rgb(240, 240, 240);
    border: 0;
    border-radius: 10px;
}

div#hint {
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 46vh;
}

div#hint p {
    opacity: 0.5;
    font-weight: 300;
    margin-bottom: .5rem;
}

div#hint p:first-child {
    font-weight: 600;
    font-size: 1.2rem;
    opacity: .7;
}


.shake {
	-webkit-animation: kf_shake 0.4s 1 linear;
	-moz-animation: kf_shake 0.4s 1 linear;
	-o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
	0% { -webkit-transform: translate(30px); }
	20% { -webkit-transform: translate(-30px); }
	40% { -webkit-transform: translate(15px); }
	60% { -webkit-transform: translate(-15px); }
	80% { -webkit-transform: translate(8px); }
	100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
	0% { -moz-transform: translate(30px); }
	20% { -moz-transform: translate(-30px); }
	40% { -moz-transform: translate(15px); }
	60% { -moz-transform: translate(-15px); }
	80% { -moz-transform: translate(8px); }
	100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
	0% { -o-transform: translate(30px); }
	20% { -o-transform: translate(-30px); }
	40% { -o-transform: translate(15px); }
	60% { -o-transform: translate(-15px); }
	80% { -o-transform: translate(8px); }
	100% { -o-origin-transform: translate(0px); }
}


/*
 * Footer styles
 */
 .footer {
    margin-top: 4rem;
}

.footer .container {
    border-top: 1px solid #e8e8e8;
}

.footer p {
    margin: 1rem 0;
    color: #8e8e8e;
    font-size: 1rem;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.footer .icons, .footer .footer-text {
    padding: 1rem 0;
}

.icons {
    text-align: right;
}

.footer .right-text {
    text-align: right;
}

.icons a {
    display: inline-block;
    margin-left: 1rem;
    padding: 0 4px;
}

.icons a img {
    width: 25px;
}

.ion-heart {
    color: #d43c67;

    margin-left: 2px;
    margin-right: 2px;
}
/* * * * * * */


@media (max-width: 1199px) {
    #card-container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .card {
        margin: 34px;
    }
}

@media (max-width: 991px) {
    .col {
        padding-left: initial;
        padding-right: initial;
    }

    #card-container {
        padding-left: initial;
        padding-right: initial;
    }

    .card {
        margin: 21px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }

    #local-day-and-time {
        font-size: 1.16rem;
        line-height: 1.5em;
    }

    #card-container {
        position: relative;
    }

    .heading {
        text-align: center;
    }

    .card {
        margin: 1.3rem auto;
        display: block;
    }

    .outside {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    #city-form {
        max-width: 314px;
        width: 100%;
    }

    .footer .fb-2 {
        order: 2;
    }

    .footer .icons {
        text-align: center;
        margin-top: 1rem;
    }

    .footer .icons a {
        margin: 0 .3rem;
    }

    .footer .footer-text {
        text-align: center;
    }

    .footer .icons {
        padding: 1rem 0 .2rem;
    }

    .footer .footer-text {
        padding: .2rem 0 1rem;
    }

    .footer .right-text {
        padding: 1rem 0 0 0;
    }

    .footer .right-text p {
        margin-bottom: 0;
    }
}
